input[type=file]::-webkit-file-upload-button{
    width: auto;
    border: 1px solid red;
    cursor: pointer;
    color: white;
    font-size: 1.3rem;
    border-radius: 20px;
    padding: 1vh 3vh;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-top: 1rem;
    background-color: tomato;
    transition: background-color 0.5s;
}

input[type=file]::-webkit-file-upload-button:hover{
    background-color: green;
    border:1px solid lightgreen;
}

input[type=file]{
    outline: none;
}